{% extends "constant/base.html" %}
{% block title %}Home{% endblock %}
{% include "constant/preloader.html" %}
      {% include "constant/navbar.html" %}

      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
{% block body %}
<div class="page">
    {% include "product/slide.html" %}
    {% include "product/menu.html" %}
    {% include "product/products.html" %}
    {% include "product/review.html" %}
    {% include "product/gallery.html" %}
    {% include "product/booking.html" %}

    <!-- Section Services  Last section-->
    <section class="section section-sm bg-default">
    <div class="container">
        <div class="owl-carousel owl-style-11 dots-style-2" data-items="1" data-sm-items="1" data-lg-items="2" data-xl-items="4" data-margin="30" data-dots="true" data-mouse-drag="true" data-rtl="true">
        <article class="box-icon-megan wow fadeInUp">
            <div class="box-icon-megan-header">
            <div class="box-icon-megan-icon linearicons-bag"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Free Delivery</a></h5>
            <p class="box-icon-megan-text">If you order more than 3 pizzas, we will gladly deliver them to you for free.</p>
        </article>
        <article class="box-icon-megan wow fadeInUp" data-wow-delay=".05s">
            <div class="box-icon-megan-header">
            <div class="box-icon-megan-icon linearicons-map2"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Convenient Location</a></h5>
            <p class="box-icon-megan-text">Our pizzeria is situated in the downtown and is very easy to reach even on weekends.</p>
        </article>
        <article class="box-icon-megan wow fadeInUp" data-wow-delay=".1s">
            <div class="box-icon-megan-header">
            <div class="box-icon-megan-icon linearicons-radar"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Free Wi-Fi</a></h5>
            <p class="box-icon-megan-text">We have free Wi-Fi available to all clients and visitors of our pizzeria.</p>
        </article>
        <article class="box-icon-megan wow fadeInUp" data-wow-delay=".15s">
            <div class="box-icon-megan-header">
            <div class="box-icon-megan-icon linearicons-thumbs-up"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Best Service</a></h5>
            <p class="box-icon-megan-text">The client is our #1 priority as we deliver top-notch customer service.</p>
        </article>
        </div>
    </div>
    </section>
</div>
{% endblock %}
{% include "constant/footer.html" %}
